* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #c7ecee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-menu {
  width: 300px;
  cursor: pointer;
  position: relative;
}

.select {
  background-color: #201e1e;
  padding: 20px;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list {
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  margin-top: 14px;
  padding: 0 20px;
  max-height: 180px;
  overflow-y: auto;
  transition: 0.4s linear 0.2s;

  height: 0;
}

.option {
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.option:hover,
option.selected {
  color: #00a8ff;
}

.options-list::-webkit-scrollbar {
  width: 4px;
  background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb {
  background-color: #00a8ff;
}

.options-list.active {
  height: 180px;
}
