*{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100%;
}

body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Inter', sans-serif;
    background: #F3EDE5;
}

a{
    text-decoration: none;
    color: #7A7979;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

header li{
    display: inline-block;
}

header li a{
    margin-top: 20px;
    padding: 10px;
}

.logo{
    margin-top: 3px;
}

header nav li{
    margin-top: 10px;
    margin-left: 25px;
}

.sub-nav li{
    margin-top: 10px;
}

header nav li a:hover{
    background-color: lightgray;
    border-radius: 4px;
}

.button a{
    background-color: #133416;
    padding: 10px;
    border-radius: 4px;
}

.signin a{
    padding: 10px;
    margin-right: 10px;
}

.signin a:hover{
    background-color: lightgray;
    border-radius: 4px;
}

.button a{
    color: white;
}

.button a:hover{
    background-color: rgb(9, 130, 9);
}

.hero-section{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    grid-template-areas: 
    "left right";
}

.hero-title{
    grid-area: left;
}

.hero-image{
    grid-area: right;
}

.hero-image img{
    max-width: 90%;
    height: auto;
    margin-left: 40px;
}

.hero-title h1{
    margin-top: 50px;
    font-size: 4em;
}

.colored{
    color: #F7B300;
}

.hero-title p{
    margin-top: 20px;
    color: #81807F;
}

.hero-button a{
    color: white;
    padding: 10px;
    background-color: #133416;
    border-radius: 4px;
}

.hero-button a:hover{
    background-color: rgb(9, 130, 9);
}

.rating{
    display: flex;
}

.logos{
    margin-top: 5px;
    margin-left: 5px;
}

.logos img{
    margin-left: 10px;
    margin-top: 15px;
}

.footer{
    margin-top: 5%;
}

.footer  p{
    text-align: center;
    color: #81807F;
}

.companies{
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
}